<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #E9A5DE">
      <div class="container-fluid" style="font-size: 1.7em"> 💨 Bangu </div>
    </nav>

    <center>
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer class="container-fluid navbar-fixed-bottom">
      <p>@Copyright myunbongs</p>
    </footer>

    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>